:root {
  --clr-1: #a855f7;
  --clr-2: #f43f5e;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
.purple-card::before,
.purple-card::after {
  content: '';
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-1),
    var(--clr-1),
    var(--clr-1),
    var(--clr-2)
  );
  border-radius: inherit;
  animation: rotation 15s linear infinite;
  box-shadow: 0px 0px 14px -5px #a855f7;
}

.rose-card::before,
.rose-card::after {
  content: '';
  position: absolute;
  inset: -2px;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-2),
    var(--clr-2),
    var(--clr-2),
    var(--clr-2),
    var(--clr-1)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
  box-shadow: 0px 0px 14px -5px #f43f5e;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
