@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary-color: 3, 7, 18;
  --background-secondary-color: 17, 24, 39;
  --background-muted-color: 31, 41, 55;
  --text-primary-color: 255, 255, 255;
  --text-secondary-color: 229, 231, 235;
  --text-muted-color: 209, 213, 219;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
body {
  background: #000;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.moving-border {
  width: 200px;
  height: 300px;
  position: relative;
  background: #111;
  padding: 4px;
}
.moving-border::before,
.moving-border::after {
  content: '';
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(var(--angle), #032146, #c3f2ff, #b00);
  animation: rotate 10s linear infinite;
}
.moving-border::after {
  filter: blur(10px);
}
@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
